@import url('https://fonts.googleapis.com/css2?family=Great+Vibes');

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    backdrop-filter: blur(2px);
    background: radial-gradient(#fff0 20%, #000c) 100%;
    animation: rotateHue 30s infinite ease-in-out;
}

.container {
    margin: 10vh auto;
    text-align: center;
}

body > .container {
    filter: drop-shadow(20px 20px 4px #0000005e);
}

.main-title {
    color: white;
    font-size: 4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
    user-select: none;
}

.youtube {
    width: 60vw;
    height: 33.75vw;
    border-radius: 2rem;
    margin: 0 auto;
}

.blur-load {
    background-size: cover;
    background-position: center;
}

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load > img {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.blur-load::before {
    content: "";
    position: absolute;
    inset: 0;
    animation: pulse 1.5s infinite;
}

.blur-load.loaded::before {
    content: none;
    animation: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 255, 255, 0.0);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

@keyframes rotateHue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .wrapper {
        background: radial-gradient(#fff0 00%, #000c) 100%;
    }

    .container {
        margin: 15vh auto;
    }
    
    .main-title {
        font-size: 3rem;
    }
    
    .youtube {
        width: 90vw;
        height: 50vh;
    }
}