* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.container {
    margin: 10vh auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
    font-variant: small-caps;
}

iframe {
    width: 60vw;
    height: 33.75vw;
}